<div id="accordian" class="panel-group">
    <!-- Define the first panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Team 1</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <h5>Tasks</h5>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Dedicated(%)</th>
                            <th>Hours</th>
                            <th>Off-Time (Hours)</th>
                            <th>Cost</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <td>Totals</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ currentGroup.hours | number }}</td>
                        <td></td>
                        <td>{{ currentGroup.forecast | currency:"$ ":0 }}</td>
                        <td></td>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="resource in currentGroup.resources">
                            <td><a href="#/tasks">{{ resource.id }}</a></td>
                            <td>{{ resource.name }}</td>
                            <td> {{ resource.rate | currency:"$ ":0}}</td>
                            <td>{{ resource.start }}</td>
                            <td>{{ resource.end }}</td>
                            <td>{{ resource.dedicated }}</td>
                            <td>{{ resource.hours | number }}</td>
                            <td></td>
                            <td>{{ resource.cost | currency:"$ ":0 }}</td>
                            <td>
                                <span class = "glyphicon glyphicon-remove" data="{{ resource.id }}" 
                                      ng-click="removeTask(resource.id)" aria-hidden="true"></span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div><!-- End Panel 1 -->
    <!-- Define Panel 2 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">Add Task</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id">id:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newId" class="form-control" id="id" placeholder="Enter Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newName" class="form-control" id="name" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="rate">Rate:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newRate" class="form-control" id="rate" 
                                   placeholder="Enter Rate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="start">Start:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newStart" class="form-control" id="start" 
                                   placeholder="Enter Start Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="start">End:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newEnd" class="form-control" id="end" placeholder="Enter End Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="start">Dedicated:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newDedicated" class="form-control" id="dedicated" 
                                   placeholder="Enter Dedicated Percentage">
                        </div>
                    </div>
                  <div class="form-group">
                        <label class="control-label col-sm-2" for="start">Off-Time:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newOffTime" class="form-control" id="off_time" 
                                   placeholder="Enter Off-Time">
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="addTask()">
                        Add Task
                    </button>
                    <button class="btn btn-default" ng-click="clearTask()">
                        Clear
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>